body {
    font-family: Apple Chancery, cursive, sans-serif;
    font-size: 1.5em;
}
#navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #7331B5;
    color: white;
    border-radius: 100px;
    height: 50px;
    padding-left: 20px;
    padding-top: 10px;
    flex-wrap: wrap;
}
#title {
    padding-right: 30px;
    flex-basis: 40%;
}
a {
    display: grid;
    padding-bottom: 10px;
}

table {
    float:left;
    width:33.333333%;
    display:inline-block;
}

input[type=text], select {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}


input[type=submit] {
    width: 10%;
    background-color: #7331B5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 100px;
}
    text-decoration: none;
}

.fb-login-button {
    margin-top: 30px;
}
.container {
    background-color: #B89AD6;
    margin-top: 2%;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
}
button {
    color: white;
    background-color: #7331B5;
    margin: 2% 40%;
    padding: 20px;
    border: 2px white solid;
    border-radius: 4px;
    font-size: 1rem;
}
button:hover {
    cursor: pointer;
}
span a {
    color: white;
    text-decoration: none;
}
h a {
    color: black;
    text-decoration: none;
    text-align: center;
}
.devbox{
    display: flex;
    justify-content: center;
}
.Developers{
    padding: 15px;
    padding-top: 35px;
}
